<h1><%= @owner.name %></h1>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<form method="get" action="/owner/<%= @owner.id %>/edit">
    <input type="submit" value="Edit owner" />
</form>

<form method="post" action="/owner/<%= @owner.id %>/delete">
    <input type="submit" value="Delete Owner" />
</form>

<p>Wanted Level: <%= @owner.wanted_level %></p>

<table>
  <tr>
    <th>Ships</th>
  </tr>
    <% for ship in @ships %>
    <tr>
    <td><%= ship.name %></td>
  </tr>
    <% end %>

</table>
