<h1>Ships</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Size</th>
    <th>Owner</th>
  </tr>
  <% for ship in @ships %>
  <tr>
    <td><a href="/ship/<%= ship.id %>"><%= ship.name %></a></td>
    <td><%= ship.type %></td>
    <td><%= ship.size %></td>
    <td><%= ship.owner[0].name %></td>
  </tr>
  <% end %>

  <% if @capacity == 10 %>
    <p><%= "Sorry we are full" %></p>
    <% elsif @capacity < 10 && @capacity > 5 %>
    <p><%= "We are nearing capacity" %></p>
    <% else %>
    <p><%= "Plenty of spaces available" %></p>
  <% end %>

  <form action="/ship/new">
      <input type="submit" value="Add a Ship" />
  </form>

</table>
