<h1><%= @ship.name %></h1>

<head>
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<table>
  <tr>
    <th>Type</th>
    <th>Size</th>
    <th>Owner</th>
  </tr>
  <tr>
    <td><%= @ship.type %></td>
    <td><%= @ship.size %></td>
    <td><%= @ship.owner[0].name %></td>
  </tr>

  <form method="get" action="/ship/<%= @ship.id %>/edit">
      <input type="submit" value="Edit Ship" />
  </form>

  <form method="post" action="/ship/<%= @ship.id %>/delete">
      <input type="submit" value="Delete Ship" />
  </form>

</table>
